@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  width: 100%;
  background: #e5e5e5;
  // margin-top: 10rem;
  .top {
    position: fixed;
    width: 100%;
    .nav-top {
      background: #000;
      height: 4rem;
      width: 100%;
      .nav-top_ru {
        height: 100%;
        width: 120rem;
        margin: 0 auto;
        div {
          display: flex;
          gap: 0.8rem;
          text-align: center;
          align-items: center;
          height: 100%;
          .ru {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 10px;
            line-height: 140%;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            font-feature-settings: "pnum" on, "lnum" on;
            color: #ffffff;
          }
          .uzb {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 700;
            font-size: 10px;
            line-height: 140%;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            font-feature-settings: "pnum" on, "lnum" on;
            color: rgba(255, 255, 255, 0.3);
          }
        }
      }
    }
    nav {
      // position:fixed;
      width: 100%;
      height: 7.2rem;
      background: #fafafa;
      box-shadow: 0px 8px 22px -6px rgba(24, 39, 75, 0.12),
        0px 14px 64px -4px rgba(24, 39, 75, 0.12);
      .nav-items {
        width: 120rem;
        height: 7.2rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .nav-left {
          height: 100%;
          align-items: center;
          text-align: center;
          padding-top: 2rem;
          a {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 700;
            font-size: 23px;
            line-height: 140%;
            letter-spacing: 0.4px;
            font-feature-settings: "pnum" on, "lnum" on;
            color: #0d0d0d;
          }
        }
        .nav-center {
          ul {
            display: flex;
            gap: 2.4rem;
            li {
              a {
                font-family: "Montserrat";
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 140%;
                letter-spacing: 0.1px;
                font-feature-settings: "pnum" on, "lnum" on;
                color: #000000;
                transition: all 0.3s;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
        .nav-right {
          display: flex;
          height: 100%;
          align-items: center;
          text-align: center;
          .btn-link {
            .sign {
              background: #ffc000;
              border-radius: 4px;
              width: 7rem;
              height: 3rem;
              border: none;
              transition: all 0.3s;
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 140%;
              letter-spacing: 0.44px;
              color: #0d0d0d;
              &:hover {
                background: rgba(0, 0, 0, 0.05);
              }
            }
            .sign-up {
              background: #ffc000;
              border-radius: 4px;
              border: none;
              width: 20rem;
              height: 3rem;
              margin-left: 1.5rem;
              margin-right: 4.3rem;
              transition: all 0.3s;
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 140%;
              letter-spacing: 0.44px;
              // font-feature-settings: 'pnum' on, 'lnum' on;
              color: #0d0d0d;
              transition: all 0.3s;
              &:hover {
                background: rgba(0, 0, 0, 0.05);
              }
            }
          }
          a {
            .right-img {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  footer {
    width: 100%;
    background: #ffffff;
    height: 32rem;
    .footer-item {
      height: 100%;
      width: 120rem;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      padding-top: 4.6rem;

      .footer-item_1 {
        width: 25rem;
        h3 {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 140%;
          letter-spacing: 0.75px;
          text-transform: uppercase;
          font-feature-settings: "pnum" on, "lnum" on;
          color: #000000;
        }
        p {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 160%;
          letter-spacing: 0.25px;
          font-feature-settings: "pnum" on, "lnum" on;
          color: #000000;
          margin-bottom: 2rem;
          margin-top: 1.6rem;
        }
      }
      .footer-item_2 {
        h3 {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 140%;
          letter-spacing: 0.75px;
          text-transform: uppercase;
          font-feature-settings: "pnum" on, "lnum" on;
          color: #000000;
        }
        ul {
          li {
            margin-top: 1rem;
            a {
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 160%;
              letter-spacing: 0.25px;
              font-feature-settings: "pnum" on, "lnum" on;
              color: #000000;
            }
          }
        }
      }
      .footer-item_3 {
        h3 {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 140%;
          letter-spacing: 0.75px;
          text-transform: uppercase;
          font-feature-settings: "pnum" on, "lnum" on;
          color: #000000;
        }
        ul {
          li {
            margin-top: 1rem;
            a {
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 160%;
              letter-spacing: 0.25px;
              font-feature-settings: "pnum" on, "lnum" on;
              color: #000000;
            }
          }
        }
      }
      .footer-item_4 {
        h3 {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 140%;
          letter-spacing: 0.75px;
          text-transform: uppercase;
          font-feature-settings: "pnum" on, "lnum" on;
          color: #000000;
        }
        ul {
          li {
            margin-top: 1rem;
            a {
              font-family: "Montserrat";
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 160%;
              letter-spacing: 0.25px;
              font-feature-settings: "pnum" on, "lnum" on;
              color: #000000;
            }
          }
        }
      }
    }
  }
}
// ///////////////////////////////////////////////////////

.zakazat {
  padding: 160px 0;
}

.zakaz h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.25px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}

.sariqat {
  background-color: #ffc000;
  width: 460px;
  height: 113px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: column;
}

.obshiyat {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 50px;
}

.summa p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.15px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #0d0d0d;
}

.summaat p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.15px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #0d0d0d;
}

.summa {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 130px;
}

.summaat {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}

form img {
  width: 100px;
}

#paymi {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.oplataat form {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}

#adres {
  padding: 18px 384px 18px 16px;
  outline: none;
  border: none;
  background-color: #f1f1f1;
}

#name,
#tel {
  padding: 18px 384px 18px 16px;
  outline: none;
  border: none;
  background-color: #f1f1f1;
}

.oplataat button {
  padding: 21px 227px;
  background-color: #ffc000;
  outline: none;
  border: none;
  cursor: pointer;
}

.zakazat {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  flex-direction: column;
}

.tovarat {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 300px;
  flex-wrap: wrap;
}

.vaw h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.25px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}

.printat h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #040921;
}

.mujikat p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.25px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  max-width: 750px;
}

.sizeat p span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}

.sizeat p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.25px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}

.printat {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 310px;
}

.sizeat {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 230px;
}

.mujikat {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 40px;
}

.hudiat {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.vaw {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;
}

.brendlar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 40px 0;
  flex-wrap: wrap;
}

.magazin h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.25px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}

.magazin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 90px 0;
}

.tekstil a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.15px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #0d0d0d;
  padding: 20px 10px;
  background-color: #ffc000;
  border-radius: 8px;
  width: 200px;
}

.tekstil {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.categoriya h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.25px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}

.categoriya {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

// ///////////////////////////////////////////////////

@media (max-width: 1067px) {
  .printat {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
  .mujikat p {
    width: 550px;
  }

  .sizeat {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 840px) {
  .printat {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .printat h4 {
    font-size: 18px;
  }

  .mujikat p {
    width: 350px;
  }
}

@media (max-width: 660px) {
  .printat h4 {
    font-size: 14px;
  }
  .mujikat p {
    width: 250px;
    font-size: 12px;
  }
}

@media (max-width: 550px) {
  .hudiat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .sariqat {
    width: 300px;
  }
  .summa p {
    font-size: 12px;
  }
  .summaat p {
    font-size: 12px;
  }

  #adres {
    padding: 30px 150px 15px 15px;
  }

  #tel {
    padding: 30px 150px 15px 15px;
  }

  #name {
    padding: 30px 150px 15px 15px;
  }

  .oplataat button {
    padding: 15px 110px;
  }
}
